{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "webbox/css/index.css" %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__logo">
                <p>WebBox</p>
            </div>
            <div class="header__nav">
                <nav>
                    <ul>

                        <li><a href="">Компаниям</a></li>
                        <li><a href="">Медиа</a></li>
                        <li><a href="#about">О нас</a></li>
                        {% if user.is_authenticated %}
                            <li><a href='/u'>Личный кабинет</a></li>
                            <li><a href='/a/u'>Выйти</a></li>
                        {% else %}
                        <li><a href='/a'>Войти</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>

    <main class="cabinet">
        {% if user.usercourses.course.short_name == 'none' %}
            <h3 class="nocurses">У вас нету курсов!</h3>
            <p class="nocursessmall">Приобрести их можно тут:</p>
            <ul class="nocursesli">
                <li><a class="nocurses2" href="https://google.com">Телеграм бот</a></li>
                <li><a class="nocurses3" href="/p">Через сайт</a></li>
            </ul>
        {% else %}
            <p class="username">Текущий курс пользователя {{user.username}}</p>
            <h2 class="coursetitle">{{user.usercourses.course.title}}</h2>
            <p class="coursedesc">{{user.usercourses.course.description}}</p>
            <div class="homework">Темы</div>
        {% endif%}
        {% if themes %}
            <ul class="courseslist">
            {% for theme in themes %}
                <li class="card">
                    <a href='/u/course/lessions/{{ theme.cid }}'>{{theme.name}}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if homeworks %}
            <div class="homework">Ваши домашние задания</div>
            <ul class="courseslist">
            {% for homework in homeworks %}
                <div class="card">
                    <a href='/u/homework/{{user.usercourses.course.short_name}}/{{ homework.cid }}'>{{homework.name}}</a>
                </div>
            {% endfor %}
            </ul>
        {% endif %}
    </main>

    <footer class="footer">
        <h5>WebBox</h5>
        <p>Проект Егора Горгуна и Федосова Никиты.<br>:sunglassses:</p>
    </footer>
</body>
</html>