{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Webbox</title>
    <link href="{% static "webbox/css/base.css" %}" rel="stylesheet">
    <script src="{% static "webbox/js/hw.js" %}" defer></script>
</head>
<body>
<main>
    <h2>Первый "hello world"</h2>
    <p>Напишите программу которая выводит "hello world" на экран.</p>
    {% if code %}
    <p>{% if hw %} Баллов за это задание: {{hw}}!{%else %} Это задание ещё не проверено! Ожидайте{% endif %}</p>
    {% endif %}
    {% if form %}
        <form action="." method="post" allow-script-access="always">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Отправить"></p>
        </form>
    {% endif %}
</main>
<script src="{% static "webbox/js/hw-a.js" %}"></script>
<script>
    connect_hw('{{lang}}', `{{code|safe}}`)
</script>
</body>
</html>