
<!DOCTYPE html>
<html>
    <head>
        <title>Ой-ёй</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">

        <style>
            body {align-items: center; display: flex; justify-content: center; flex-direction: column;}
        </style>

    </head>
    
    <body>
        <h2>Галя, у нас отмена! (404)</h2>
        <p>Похоже вы перешли по несуществующей ссылке. Бывает :ъ</p>
    </body>
</html>