@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lato&display=swap');
@import url(https://pvinis.github.io/iosevka-webfont/3.4.1/iosevka.css);
:root {
    --background-color: #eee;
    --accent: #f09e8c;
    --black: #7b8937;
    --card-bg-color: #6b7436;
    --text-color: #f4d9c1;
    --link-color: #111;
    --nigga: black;
    --btn-color: #f4d9c1;
    --btn-background-color: #d72f01;
    --important: #d72f01;

}

.important {
    color: var(--important);
    
}

.info-dz {
    border: 1px dashed var(--background-color);
    padding: 10px;
    border-radius: 10px;
}

h1, h2, h3 {
    color: var(--background-color);
    font-family: 'Dela Gothic One', sans-serif;
}

h1 { font-size: 32px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }

p {
    color: var(--background-color);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

ul {
    list-style: var(--background-color);
}

ul li {
    color: var(--background-color);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

code {
    margin: 4px 0;
    display: inline-block;
    font-family: 'Iosevka Web';
    color: var(--background-color);
    background-color: var(--veryblack);
    padding: 4px 8px;
    border-radius: 4px;
}

pre code {
    font-family: monospace;
}

.primer {
    margin: 4px 0;
    background-color: var(--background-color);
    color: var(--nigga);
    width: max-content;
    padding: 4px 8px;
    border-radius: 4px;
}

.progress-bar {
    position: fixed;
    left: 0;
    top: 0;
    height: 4px; 
    width: 0%;
    background: var(--important); 
}

button, input {
    background-color: var(--btn-background-color);
    color: var(--btn-color);
    border: none;
    padding: 15px 60px;
    border-radius: 10px;
}

p, textarea, input {
    width: 100%;
    
}

textarea {
    height: 400px;
}