/*
#E1F0DA
#D4E7C5
#BFD8AF
#99BC85
*/

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lato&display=swap');

:root {
    --background-color: #eee;
    --accent: #999;
    --black: #222;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    box-shadow: 0px 0px 8px var(--black);
    margin: 16px 0;
    padding: 8px 16px;
    border-radius: 12px;
}

.header__logo a {
    color: var(--background-color);
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 32px;
}

.header__nav ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

.header__nav a {
    color: var(--background-color);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    transition: color 100ms;
}

.header__nav a:hover {
    color: var(--accent);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--black);
    background-size: 100% auto;
    box-shadow: 0px 0px 8px var(--black);
    margin: 16px 0;
    padding: 100px 64px;
    border-radius: 12px;
}

.hero h1 {
    color: var(--background-color);
    font-family: 'Dela Gothic One', sans-serif;
    text-shadow: var(--black) 2px 2px 4px;
    font-size: 64px;
}

.hero h2 {
    color: var(--background-color);
    font-family: 'Dela Gothic One', sans-serif;
    text-shadow: var(--black) 2px 2px 4px;
    font-size: 32px;
    font-weight: 100;
}

.hero p {
    color: var(--background-color);
    font-family: 'Lato', sans-serif;
    text-shadow: var(--black) 2px 2px 4px;
    font-size: 24px;
}

.courses {
    background-color: var(--black);
    background-size: 100% auto;
    box-shadow: 0px 0px 8px var(--black);
    margin: 16px 0;
    padding: 8px 16px;
    border-radius: 12px;
}

.courses h3 {
    color: var(--background-color);
    font-family: 'Dela Gothic One', sans-serif;
    text-shadow: var(--black) 2px 2px 4px;
    font-size: 32px;
    font-weight: 100;
}

.courses__list {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.courses__card {
    background-color: var(--background-color);
    border-radius: 16px;
    margin: 8px 0;
    width: 200px;
    padding: 8px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.courses__card a {
    display: block;
    text-align: center;
    color: var(--background-color);
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 16px;
    font-weight: 100;
    background-color: var(--black);
    padding: 4px 8px;
    margin-top: 4px;
    border-radius: 8px;
}

.courses__card h4 {
    color: var(--black);
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 16px;
    font-weight: 100;
}

.courses__card p {
    color: var(--black);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.courses__card_img {
    border-radius: 8px;
}

.comments {
    background-color: var(--black);
    background-size: 100% auto;
    box-shadow: 0px 0px 8px var(--black);
    margin: 16px 0;
    padding: 8px 16px;
    border-radius: 12px;
}

.comments h3 {
    color: var(--background-color);
    font-weight: 100;
    font-family: 'Dela Gothic One', sans-serif;
    text-shadow: var(--black) 2px 2px 4px;
    font-weight: 100;
    font-size: 32px;
}

.comments__comment {
    display: block;
    background-color: var(--background-color);
    border-radius: 8px;
    padding: 4px 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.comments__comment_info {
    display: flex;
}

.comments__comment_info p:first-child {
    color: var(--black);
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    margin-right: 16px;
}

.comments__comment_info p:last-child {
    color: var(--accent);
    font-family: 'Lato', sans-serif;
    font-size: 24px;
}

.comments__comment > p {
    color: var(--black);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    background-size: 100% auto;
    box-shadow: 0px 0px 8px var(--black);
    margin: 16px 0;
    padding: 8px 16px;
    border-radius: 12px;
}

.footer h5 {
    color: var(--background-color);
    font-weight: 100;
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 32px;
}

.footer p {
    color: var(--background-color);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: right;
}

.login {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    background-size: 100% auto;
    box-shadow: 0px 0px 8px var(--black);
    margin: 16px 0;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    border-radius: 12px;
}

.login-h1 {
    color: var(--background-color);
    font-weight: 100;
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 32px;
}

.login-password,
.login-username,
#id_name,
#id_body,
#id_username,
#id_first_name,
#id_email,
#id_password,
#id_password2 {
    margin-top: 4px;
    margin-bottom: 16px;
    font-size: 20px;
    border-radius: 16px;
    border: none;
    padding: 0 8px;
}

.login-btn {
    color: var(--black);
    background-color: var(--background-color);
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 16px;
    padding: 4px 8px;
    border: none;
    margin-bottom: 16px;
    border-radius: 16px;
}

.login-form {
    width: 50%;
}

.login-register a {
    text-decoration: underline;
    color: var(--background-color);
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 16px;
}

.login form p label {
    color: var(--background-color);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.login form p {
    display: flex;
    flex-direction: column;
}

#id_username_helptext {
    display: none;
}

ul.errorlist {
    list-style: none;
}

ul.errorlist li {
    color: var(--background-color);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.areg {
    color: var(--background-color);
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 32px;
}

.areg2 {
    color: var(--background-color);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.areg2 a {
    text-decoration: underline;
    color: var(--background-color);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.cabinet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    background-size: 100% auto;
    box-shadow: 0px 0px 8px var(--black);
    margin: 16px 0;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    min-height: 80vh;
}

.nocurses {
    color: var(--background-color);
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 32px;
}

.nocursesli {
    list-style: none;
}

.nocursessmall {
    color: var(--background-color);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.nocurses2, .nocurses3 {
    color: var(--background-color);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-decoration: underline;
}

.coursetitle {
    color: var(--background-color);
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 32px;
}

.coursedesc {
    color: var(--background-color);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: center;
    text-wrap: balance;
    margin-bottom: 16px;
}

.username {
    color: var(--background-color);
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

.card a {
    display: block;
    color: var(--black);
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 4px 8px;
    background-color: var(--background-color);
    transition: all 200ms;
}

.card a:hover {
    box-sizing: content-box;
    color: var(--background-color);
    background-color: var(--black);
}

.card {
    width: 500px;
}

.homework {
    color: var(--background-color);
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 24px;
    margin-top: 16px;
}

.courseslist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    list-style: none;
}

.coursess {
    display: flex;
    background-color: var(--black);
    background-size: 100% auto;
    box-shadow: 0px 0px 8px var(--black);
    margin: 16px 0;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border-radius: 12px;
    margin-right: 100px;
    width: 1067px;
    gap: 32px;
}

.coursesnowh2 {
    color: var(--background-color);
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 32px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.coursesnow {
    width: 520px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
}

.leftCourse {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.leftCourse .card a {
    width: 300px;
}

.rightCourse {
    height: 90%;
    width: 100%;
    border: 3px solid var(--background-color);
    padding: 4px;
    border-radius: 8px;
}

.rightCourse iframe {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 4px;
}

/* chrome&safari */
.rightCourse iframe::-webkit-scrollbar {
    display: none;
}

/* chrome&safari */
.leftCourse::-webkit-scrollbar {
    display: none;
}

#commentForm {
    border: none;
    width: 100%;
    height: 450px;
}

.card-body {
    background-color: var(--black);
}

.card-body * {
    color: var(--background-color);
    font-family: 'Lato', sans-serif;
}

.card-body button {
    color: var(--black);
    background-color: var(--background-color);
    padding: 4px 8px;
    margin-top: 4px;
    border-radius: 16px;
    margin-bottom: 8px;
    margin-top: 8px;
    cursor: pointer;
    width: 100%;
    border: none;
    transition: all 200ms;
}

.card-body button:hover {
    color: var(--background-color);
    background-color: var(--black);
}

.card-body p > input,
.card-body p > textarea {
    margin-left: 4px;
    color: var(--black);
    font-size: 20px;
    border-radius: 16px;
    border: none;
    padding: 0 8px;
}

.card-body p > textarea {
    height: 100px;
}

.coursecard {
    background-color: var(--black);
    background-size: 100% auto;
    box-shadow: 0px 0px 8px var(--black);
    margin: 16px 0;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    border-radius: 12px;
    margin-right: 100px;
    width: 1067px;
}

.coursecard > h2 {
    color: var(--background-color);
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 32px;
}

.coursesflex {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}

.coursesflex img {
    border-radius: 16px;
    margin-right: 16px;
}

.coursestext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ct1 * {
    color: var(--background-color);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.ct2 * {
    color: var(--background-color);
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 16px;
}

.ct2 a {
    text-decoration: underline;
}

.card-body p {display: flex; flex-direction: column}

#id_course {
    border: none;
    border-radius: 16px;
    color: var(--background-color);
}

.comments-iframe-body {
    background-color: var(--black);
}

p > label {
    color: var(--background-color);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.coursesearch form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.coursesearch p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.coursesearch p:nth-child(2n) {
    margin-right: 0;
}

.coursesearch p * {
    width: 350px;
}

.coursesearch p label {
    width: 70px;
    margin-right: 16px;
}

#id_field_search,
#id_price_from,
#id_price_to {
    margin: 11px;
    font-size: 20px;
    border-radius: 16px;
    border: none;
    padding: 0 8px;
}

.coursesearch p:first-child {
    width: 100% !important;
}

#id_field_search {
    width: 100%;
}

.btn-primary {
    color: var(--black);
    background-color: var(--background-color);
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 16px;
    padding: 4px 8px;
    border: none;
    margin-bottom: 16px;
    border-radius: 16px;
    width: 100%;
    transition: all 200ms;
    cursor: pointer;
}

.btn-primary:hover {
    color: var(--background-color);
    background-color: var(--black);
}

.genericsection {
    background-color: var(--black);
    background-size: 100% auto;
    box-shadow: 0px 0px 8px var(--black);
    margin: 16px 0;
    padding: 8px 16px;
    border-radius: 12px;
}

.genericsection video {
    width: 100%;
}

.genericsection h3 {
    color: var(--background-color);
    font-weight: 100;
    font-family: 'Dela Gothic One', sans-serif;
    text-shadow: var(--black) 2px 2px 4px;
    font-weight: 100;
    font-size: 32px;
}

.genericsection h2 {
    color: var(--background-color);
    font-weight: 100;
    font-family: 'Dela Gothic One', sans-serif;
    text-shadow: var(--black) 2px 2px 4px;
    font-weight: 100;
    font-size: 32px;
}

.genericsection p {
    color: var(--background-color);
    font-weight: 100;
    font-family: 'Lato', sans-serif;
    text-shadow: var(--black) 2px 2px 4px;
    font-weight: 100;
    font-size: 18px;
}

.genericsection ul {
    list-style: none;
}

.genericsection li {
    padding-left: 16px;
}

.genericsection .ucandoit {
    font-size: 32px;
}

.video-history {
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.video-history__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.video-history__title {
    font-size: 20px !important;
}

.video-history__author {
    font-size: 16px;
    font-style: italic;
    color: var(--accent) !important;
}   

.motivation {
    background-color: var(--black);
    background-size: 100% auto;
    box-shadow: 0px 0px 8px var(--black);
    margin: 16px 0;
    padding: 8px 16px;
    border-radius: 12px;
    font-size: 32px !important;
    color: var(--accent) !important;
}
.payment {
    background-color: var(--black);
    background-size: 100% auto;
    box-shadow: 0px 0px 8px var(--black);
    margin: 16px 0;
    padding: 8px 16px;
    border-radius: 12px;
}

.payment p {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
}

.payment p input,
.payment p select {
    color: var(--black) !important;
    background-color: var(--background-color);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 4px 8px;
    border: none;
    border-radius: 16px;
    transition: all 200ms;
}

.payment p select option {
    color: var(--black) !important;
}

.btn-primary:hover {
    color: var(--background-color);
    background-color: var(--black);
}

#id_number_card_helptext,
#id_cvv_card_helptext,
#id_name_card_helptext,
#id_phone_helptext,
#id_tg_nick_helptext {
    color: var(--background-color);
    font-weight: 100;
    font-family: 'Lato', sans-serif;
    text-shadow: var(--black) 2px 2px 4px;
    font-weight: 100;
    font-size: 18px;
}

.genericlinks {
    display: flex;
    gap: 16px;
}

.errorform {
    display: flex;
    height: 68vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.genericlinks a {
    text-decoration: underline;
    color: var(--background-color);
    font-weight: 100;
    font-family: 'Lato', sans-serif;
    text-shadow: var(--black) 2px 2px 4px;
    font-size: 18px;
}

.unpayform {
    display: flex;
    height: 68vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.unpayform p {
    color: var(--background-color);
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 32px;
}

.dopayform {
    display: flex;
    height: 68vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td {
    color: var(--background-color);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding: 6px;
    border-spacing: 0;
}

table {
    margin: 6px;
}

.tableop p:first-child {
    margin-right: 16px;
}
/* hamburger */

.burger-checkbox {
    display: none;
}

.burger {
    display: none;
}

.video-history iframe {
    width: 50%;
    height: 300px;
  }

/* mobile ui */

@media (max-width: 1100px) {
    .wrapper {
        width: 95vw;
    }

    .header {
        align-items: center;
        padding: 8px 16px;
    }
    
    .header__logo a {
        font-size: 48px;
    }

    .header__nav ul {
        gap: 8px;
        flex-direction: column;
    }

    .header__nav ul li a {
        font-size: 24px;
    }

    .hero * {
        text-wrap: balance;
    }
    
    .hero {
        padding: 64px 16px;
    }
    
    .hero h1 {
        font-size: 48px;
    }
    
    .coursessearch p input {
        width: 100% !important;
    }

    .coursessearch {
        flex-direction: column;
    }

    .login {
        align-items: normal;
        min-height: auto;
    }

    .login-h1 {
        font-size: 48px;
    }

    .login-form {
        width: 100%;
    }

    .login form p label {
        font-size: 24px;
        width: 100%;
    }

    .login-register a {
        font-size: 24px;
    }

    #id_username,
    #id_password,
    #id_first_name,
    #id_email,
    #id_password2,
    .login-btn {
        font-size: 32px;
    }

    #id_price_from,
    #id_price_to {
        width: 100% !important;
    }

    .cabinet {
        min-height: auto;
        padding: 16px;
    }
    
    .username {
        font-size: 16px;
    }

    .coursetitle,
    .coursedesc {
        text-align: center;
        font-size: 32px;
    }

    .coursedesc {
        font-size: 24px;
    }

    .homework {
        font-size: 24px;
    }

    .card {
        width: 85vw;
    }
    .card a {
        font-size: 16px;
    }

    .coursess {
        flex-direction: column;
        width: 87vw;
        height: auto;
    }

    .leftCourse {
        width: 100%;
        text-align: center;
    }

    .leftCourse .card a {
        width: 97.5%;
    }

    .rightCourse iframe {
        height: 80vh;
    }

    /* burger stuff */
    .burger-checkbox {
        position: absolute;
        visibility: hidden;
        display: block;
      }
      .burger {
        position: relative;
        z-index: 1;
        cursor: pointer;
        display: block;
        position: relative;
        border: none;
        background: transparent;
        width: 40px;
        height: 26px;
      }
      .burger::before,
      .burger::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #000;
      }
      .burger::before {
        top: 0;
        box-shadow: 0 11px 0 #000;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
      }
      .burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
      }
      .burger-checkbox:checked + .burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0,0,0,0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
      }
      .burger-checkbox:checked + .burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
      }
      .menu-list {
        top: 0;
        left: 0;
        position: absolute;
        display: grid;
        gap: 12px;
        padding: 42px 0;
        margin: 0;
        background: var(--black);
        list-style-type: none;
        transform: translateX(-100%);
        transition: .3s;
        width: 100%;
        height: 100%;
      }
      .menu-item {
        display: block;
        padding: 8px;
        color: white;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
      }
      .menu-item:hover {
        background: rgba(255,255,255,.2)
      }
      .burger-checkbox:checked ~ .menu-list {
        transform: translateX(0);
      }

      .video-history__content {
        width: 100%;
      }

      .video-history {
        flex-direction: column;
      }

      .video-history iframe {
        width: 100%;
        height: 50vw;
      }
}
