<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webbox ~ Telegram</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/webbox/css/telegram.css">
</head>
<body>
    <section class="hero">
        <h1>🦧</h1>
        <h2>Webbox - мы учим</h2>
        <p class="hint">Прокрутите вниз чтобы выбрать один из наших замечательных курсов</p>
    </section>
    <div class="wrapper">

        <h2 style="margin: 20px 0;">Доступные курсы</h2>
        <div class="cards">
            {% for course in courses %}
            {% if course.is_published %}
            <div class="card">
                <div>
                <img src="{{ course.picture.url }}">
                <h3>{{ course.title }}</h3>
                <p class="hint">{{ course.description}}</p>
                <p>{{ course.price | safe  }}</p>
                </div>
                <button onclick="handleBuyButton({{ course.id }})" class="buy">Купить</button>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script>
        console.log(window.Telegram.WebApp)

        const tg = window.Telegram.WebApp;
        tg.expand()

        function handleBuyButton() {
            tg.close();
        }

        tg.MainButton.show();
        tg.MainButton.setText("ОК");

        tg.MainButton.onClick(() => {
            tg.close();
        });
    </script>
</body>
</html>