<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/webbox/css/telegram.css">
</head>
<body class="hero">
    <h2>🐧 Осталось всего несколько вещей...</h2>
    <form method="post" class="genericFormTG">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary  btn-lg">Применить</button>
    </form>   
</body>
</html>