{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/webbox/css/index.css">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <title>WebBox ~ Главная страница</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__logo">
                <p><a href="/">WebBox</a></p>
            </div>
            <div class="header__nav menu">
                    <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
                    <label for="burger-checkbox" class="burger"></label>
                    <ul class="menu-list">
                        <li class=""><a href="/#forcomp" class="menu-item">Компаниям</a></li>
                        <li class=""><a href="/#media" class="menu-item">Медиа</a></li>
                        <li class=""><a href="/#about" class="menu-item">О нас</a></li>
                        <li class=""><a href='/admin' class="menu-item">Админ-панель</a></li>
                        {% if user.is_authenticated %}
                            <li class=""><a href='/u' class="menu-item">Личный кабинет</a></li>
                            <li class=""><a href='/a/u' class="menu-item">Выйти</a></li>
                        {% else %}
                            <li class=""><a href='/a' class="menu-item">Войти</a></li>
                        {% endif %}
                    </ul>
            </div>
        </header>
        <script src="/static/webbox/js/hamburger.js"></script>
        <main>
            <section class="hero">
                <h1>WebBox</h1>
                <h2>Реально учим.</h2>
                <p>Мы выпустили уже {{len_users}} человек(-а). Ждём и тебя!</p>
            </section>
            <section class="courses">
                <h3>Курсы которые мы предоставляем</h3>
                <div class="coursesearch">
                    <form method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary  btn-lg">Применить</button>
                    </form>   
                </div>
                <ul class="courses__list">
                    {% if courses_list %}
                        {% for cousre in courses_list %}
                            {% if cousre.is_published %}
                                <li class="courses__card">
                                    <img class="courses__card_img" src="{{ cousre.picture_preview.url }}" width="200" height="200" alt="{{ cousre.picture_preview.url }}"/>
                                        <h4>{{cousre.title}}</h4>
                                        <p>{{cousre.description}}</p>
                                        <p>{{cousre.price | safe }}</p>
                                    <div class="courses__card_text">
                                        <a href="/c/{{cousre.short_name}}">Перейти</a>
                                    </div>
                                </li>
                                {% else %}
                            
                                {% endif%}
                            {% endfor %}
                        {% else %}
                            <p>Курсов удолетворяющим условиям поиска не найдено! :(</p>
                        {% endif %}
                
                </ul>
            </section>
            <section class="comments">
                <h3>Комментарии</h3>
                <iframe src='/a/comment' id="commentForm"></iframe>
                {% for comment in comments %}
                    {%if comment.active%}
                        <div class="comments__comment"> 
                            <div class="comments__comment_info">
                                <p>{{ comment.name }}</p>
                                <p>{{ comment.created_on }}</p>
                            </div>
                            <p>{{ comment.body | linebreaks }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </section>
            <section class="genericsection" id="forcomp">
                <h3>Компаням</h3>
                <p>мы крч оч крутые бля: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum laudantium ullam, temporibus debitis ex minus! Ut ex quia magnam, quas, nobis architecto nulla atque quis non vel ducimus, optio quam.</p>
            </section>
            <section class="genericsection" id="media">
                <h3>Медиа</h3>
                <h2 class="motivation">Сменить проффессию - это как <span class="change-text">СДЕЛАТЬ РЕМОНТ</span></h2>
                <video muted="on" loop="" playsinline="" preload="metadata" style="background-color: rgba(0, 0, 0, 0);" onloadedmetadata="this.muted = true" autoplay><source src="https://code.s3.yandex.net/content-films/cut.mp4#t=0.001" type="video/mp4"></video>
                <h2>Некоторые решения влияют на нас сильнее других. Они бывают непростыми и требуют подготовки, но в итоге приносят радость, а иногда даже полностью меняют жизнь. Освоить новую профессию — одно из таких решений.<br/>&nbsp;
                </h2>
                <p class="ucandoit"><br/>Эти пять видеоисторий о людях, которые решились на свой важный шаг с Webbox. У них получилось сменить профессию и изменить жизнь.</p>
                <div class="video-history">
                    <div class="video-history__content">
                        <h2 class="video-history__title">О прогулках по лесу Протвина и работе тестировщика в 51 год</h2>
                        <p class="video-history__author">Олег Пронин, 51 год<br/>Протвино</p>
                        <p class="video-history__text">Олег давно уехал из Москвы. Он говорит, в Протвино больше сил, чтобы осваивать что-то новое, общаться с большой командой. В советское время в небольшом городе в двух часах от Москвы строили коллайдер, здесь Олег вспомнил о мечте стать разработчиком и выучился на тестировщика.</p>
                    </div>
                    <iframe src="https://www.youtube.com/embed/9MlvxuhXZ64?si=mvsBwPN8WLWWWji7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="video-history">
                    <iframe src="https://www.youtube.com/embed/XJo4D3kfizM?si=Ju6MljpXgOtLYKd2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div class="video-history__content">
                        <h2 class="video-history__title">О поездках по всей Латинской Америке и анализе данных</h2>
                        <p class="video-history__author">Лариса Фернандес, 41 год<br/>Москва</p>
                        <p class="video-history__text">Лариса раньше занималась экотуризмом — она выучила испанский, стала гидом и много путешествовала. После рождения ребенка она устроилась представителем южноамериканской компании в России, но в 40 лет решила найти работу, где можно будет расти и строить карьеру. Теперь она занимается аналитикой и вместе с мужем учит сына играть в футбол.</p>
                    </div>
                    
                </div>
                <div class="video-history">
                    <div class="video-history__content">
                        <h2 class="video-history__title">О множестве старых нелюбимых работ и одной новой любимой профессии UX-дизайнера</h2>
                        <p class="video-history__author">Анна Прилепина, 27 лет<br/>Новосибирск</p>
                        <p class="video-history__text">До Webbox'a Аня перепробовала очень много работ: была товароведом, работала в салоне красоты и была администратором в стоматологии. Как часто бывает, она не знала точно, кем хочет быть, но хорошо понимала, кем быть не хочет. Как-то раз, уже после обучения, она зашла в примерочную и в первые секунды не узнала себя. По словам Ани, перед ней стояла яркая, свободная и весёлая девушка. А ещё эта девушка уже работала UX-дизайнером в большой компании.</p>
                    </div>
                    <iframe src="https://www.youtube.com/embed/RbN8PC9Wyzs?si=jchKoBmhq0H82ZkP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="video-history">
                    <iframe src="https://www.youtube.com/embed/ibda9gl5VAU?si=LBq9V3ZuoUJJfKFs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div class="video-history__content">
                        <h2 class="video-history__title">О работе в такси, одной прочитанной рассылке и новой профессии аналитика</h2>
                        <p class="video-history__author">Михаил Червяков, 36 лет<br/>Нижний Новгород</p>
                        <p class="video-history__text">Михаил долго работал в продажах, а после сокращения стал таксистом. В один день он получил рассылку, где в честь десятилетия сервиса такси водителям предлагали бесплатно пройти любой курс Практикума. Тогда Михаил не думал, что через несколько месяцев станет аналитиком данных и пройдёт тестовое собеседование, а ещё — займётся спортом и сбросит 12 килограмм, потому что одни изменения ведут к другим.</p>
                    </div>
                    
                </div>
                <div class="video-history">
                    <div class="video-history__content">
                        <h2 class="video-history__title">О том, как стоя за кассой своего магазина фруктов, освоить диджитал-маркетинг</h2>
                        <p class="video-history__author">Сергей Флягин, 28 лет<br/>Барнаул</p>
                        <p class="video-history__text">Вернувшись в Россию после долгой жизни у океана, Сергей открыл сеть магазинов фруктов. Cам стоял за кассой без выходных, отбирал товар и общался с клиентами. Как-то раз грузчик не вышел на работу, и все мешки пришлось таскать Сергею. Он сорвал спину — во время восстановления лежал и думал, какую удалённую профессию может освоить. Так он стал интернет-маркетологом.</p>
                    </div>
                    <iframe src="https://www.youtube.com/embed/W_l7cr6rRoY?si=ZVRwn6ckc33hZiq1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <h3>Webbox — сервис онлайн-образования, где каждый может освоить востребованную цифровую профессию и найти стабильную работу.<br/>&nbsp;</h3>
                <ul>
                    <li><h3>&nbsp;☯ С первого занятия — учёба на практике</h3></li>
                    <li><h3>&nbsp;☯ Команда наставников поддержит и не даст бросить учёбу на полпути</h3></li>
                
                <li><h3>&nbsp;☯ Эксперты карьерного центра подготовят к уверенному выходу на рынок труда</h3></li>
                </ul>
                
                
            </section>

            <section class="genericsection" id="about">
                <h3>О нас</h3>
                <p>мы крч оч крутые бля: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum laudantium ullam, temporibus debitis ex minus! Ut ex quia magnam, quas, nobis architecto nulla atque quis non vel ducimus, optio quam.</p>
            </section>
        </main>

        <footer class="footer">
            <h5>WebBox</h5>
            <p>Проект Егора Горгуна и Федосова Никиты.<br>:sunglassses:</p>
        </footer>
    </div>
    <script src="/static/webbox/gsap-public/minified/gsap.min.js"></script>
    <script src="/static/webbox/gsap-public/minified/ScrollTrigger.min.js"></script>
    <script src="/static/webbox/gsap-public/minified/TextPlugin.min.js"></script>
    <script>
        gsap.registerPlugin(ScrollTrigger);
        gsap.registerPlugin(TextPlugin);

        gsap.from(".header__logo p", {
            scrollTrigger: {
                trigger: ".header__logo p",
                toggleActions: "play none none reverse",
                start: "top 75%",
            },
            duration: 1,
            x: 100,
            opacity: 0
        })

        gsap.to('body', {
            
            backgroundColor: "#222",
            duration: 0.5,
            scrollTrigger: {
                trigger: "#forcomp",
                scrub: 1,
                start: "top top",
                end: "bottom top",
            },
            yoyo: true
            
        })

        gsap.from('body', {
            backgroundColor: "#222",
        })
        gsap.to('body', {
            backgroundColor: "white",
            duration: 0.5,
            scrollTrigger: {
                trigger: "#about",
                scrub: 1,
                start: "top top",
                end: "bottom top",
            },
            yoyo: true
        })

        const tl = gsap.timeline({duration: 2,
            delay: 1, repeat: -1});

        tl.from('.change-text', {
            text: 
            {
                value: "ПРОБЕЖАТЬ МАРАФОН",
                delimiter: "",
                
            },
            duration: 2,
            
            delay: 1,
        })

        tl.from('.change-text', {
            text: 
            {
                value: "ПРИЗНАТЬСЯ В ЛЮБВИ",
                delimiter: "",
            },
            duration: 2,
            delay: 1,
        })

        tl.from('.change-text', {
            text: 
            {
                value: "РЕШИТЬСЯ ЗАВЕСТИ СОБАКУ",
                delimiter: "",
            },
            duration: 2,
            delay: 1,
        })

        tl.from('.change-text', {
            text: 
            {
                value: "ПЕРВЫЙ РАЗ СХОДИТЬ В ПОХОД",
                delimiter: "",
            },
            duration: 2,
            delay: 1,
        })

        tl.from('.change-text', {
            text: 
            {
                value: "ПЕРЕЕХАТЬ В ДРУГОЙ ГОРОД",
                delimiter: "",
            },
            duration: 2,
            delay: 1,
        })

        tl.from('.change-text', {
            text: 
            {
                value: "НАЧАТЬ ЖИТЬ ВМЕСТЕ",
                delimiter: "",
            },
            duration: 2,
            delay: 1,
        })

        tl.from('.change-text', {
            text: 
            {
                value: "НАКОПИТЬ НА ПЕРВУЮ МАШИНУ",
                delimiter: "",
            },
            duration: 2,
            delay: 1,
        })

        tl.from('.change-text', {
            text: 
            {
                value: "ВЫУЧИТЬ НОВЫЙ ЯЗЫК",
                delimiter: "",
            },
            duration: 2,
            delay: 1,
        })

        tl.from('.change-text', {
            text: 
            {
                value: "СДЕЛАТЬ РЕМОНТ",
                delimiter: "",
            },
            duration: 2,
            delay: 1,
        })

        tl.from('.change-text', {
            text: 
            {
                value: "ПОЛУЧИТЬ ВОДИТЕЛЬСКИЕ ПРАВА",
                delimiter: "",
            },
            duration: 2,
            delay: 1,
        })

        
    </script>
</body>
</html>

<!-- ПРОБЕЖАТЬ МАРАФОН
ПРИЗНАТЬСЯ В ЛЮБВИ
РЕШИТЬСЯ ЗАВЕСТИ СОБАКУ
ПЕРВЫЙ РАЗ СХОДИТЬ В ПОХОД
ПЕРЕЕХАТЬ В ДРУГОЙ ГОРОД
НАЧАТЬ ЖИТЬ ВМЕСТЕ
НАКОПИТЬ НА ПЕРВУЮ МАШИНУ
ВЫУЧИТЬ НОВЫЙ ЯЗЫК
СДЕЛАТЬ РЕМОНТ
ПОЛУЧИТЬ ВОДИТЕЛЬСКИЕ ПРАВА-->