{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/webbox/css/index.css">
    <title>WebBox ~ Главная страница</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__logo">
                <p><a href="/">WebBox</a></p>
            </div>
            <div class="header__nav menu">
                    <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
                    <label for="burger-checkbox" class="burger"></label>
                    <ul class="menu-list">
                        <li class=""><a href="/#forcomp" class="menu-item">Компаниям</a></li>
                        <li class=""><a href="/#media" class="menu-item">Медиа</a></li>
                        <li class=""><a href="/#about" class="menu-item">О нас</a></li>
                        <li class=""><a href='/admin' class="menu-item">Админ-панель</a></li>
                        {% if user.is_authenticated %}
                            <li class=""><a href='/u' class="menu-item">Личный кабинет</a></li>
                            <li class=""><a href='/a/u' class="menu-item">Выйти</a></li>
                        {% else %}
                            <li class=""><a href='/a' class="menu-item">Войти</a></li>
                        {% endif %}
                    </ul>
            </div>
        </header>

        <main>
            <section class="hero">
                <h1>WebBox</h1>
                <h2>Реально учим.</h2>
                <p>Мы выпустили уже {{len_users}} человек(-а). Ждём и тебя!</p>
            </section>
            <section class="courses">
                <h3>Курсы которые мы предоставляем</h3>
                <div class="coursesearch">
                    <form method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary  btn-lg">Применить</button>
                    </form>   
                </div>
                <ul class="courses__list">
                    {% if courses_list %}
                        {% for cousre in courses_list %}
                            {% if cousre.is_published %}
                                <li class="courses__card">
                                    <img class="courses__card_img" src="{{ cousre.picture_preview.url }}" width="200" height="200" alt="{{ cousre.picture_preview.url }}"/>
                                    
                                        <h4>{{cousre.title}}</h4>
                                        <p>{{cousre.description}}</p>
                                        <p>{{cousre.price | safe }}</p>
                                    <div class="courses__card_text">
                                        <a href="/c/{{cousre.short_name}}">Перейти</a>
                                    </div>
                                </li>
                                {% else %}
                            
                                {% endif%}
                            {% endfor %}
                        {% else %}
                            <p>Курсов удолетворяющим условиям поиска не найдено! :(</p>
                        {% endif %}
                
                </ul>
            </section>
            <section class="comments">
                <h3>Комментарии</h3>
                <iframe src='/a/comment' id="commentForm"></iframe>
                {% for comment in comments %}
                    {%if comment.active%}
                        <div class="comments__comment"> 
                            <div class="comments__comment_info">
                                <p>{{ comment.name }}</p>
                                <p>{{ comment.created_on }}</p>
                            </div>
                            <p>{{ comment.body | linebreaks }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </section>
            <section class="genericsection" id="forcomp">
                <h3>Компаням</h3>
                <p>мы крч оч крутые бля: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum laudantium ullam, temporibus debitis ex minus! Ut ex quia magnam, quas, nobis architecto nulla atque quis non vel ducimus, optio quam.</p>
            </section>
            <section class="genericsection" id="media">
                <h3>Медиа</h3>
                <p>мы крч оч крутые бля: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum laudantium ullam, temporibus debitis ex minus! Ut ex quia magnam, quas, nobis architecto nulla atque quis non vel ducimus, optio quam.</p>
            </section>
            <section class="genericsection" id="about">
                <h3>О нас</h3>
                <p>мы крч оч крутые бля: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum laudantium ullam, temporibus debitis ex minus! Ut ex quia magnam, quas, nobis architecto nulla atque quis non vel ducimus, optio quam.</p>
            </section>
        </main>

        <footer class="footer">
            <h5>WebBox</h5>
            <p>Проект Егора Горгуна и Федосова Никиты.<br>:sunglassses:</p>
        </footer>
    </div>
    <script>
        const btn = document.querySelector('#burger-checkbox')

        let open_hamburger = false

        btn.addEventListener('click', () => {
            if (open_hamburger) {
                
                document.body.style.overflow = 'auto'
            }
            else {
                document.body.style.overflow = 'hidden'
            }
            open_hamburger = !open_hamburger
        })
    </script>
</body>
</html>