{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "webbox/css/index.css" %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <title>WebBox ~ {{course.title}}</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__logo">
                <p>WebBox</p>
            </div>
            <div class="header__nav">
                <nav>
                    <ul>

                        <li><a href="">Компаниям</a></li>
                        <li><a href="">Медиа</a></li>
                        <li><a href="#about">О нас</a></li>
                        <li><a href='/u'>Личный кабинет</a></li>
                        {% if user.is_authenticated %}
                            <li><a href='/u'>Личный кабинет</a></li>
                            <li><a href='/a/u'>Выйти</a></li>
                        {% else %}
                        <li><a href='/a'>Войти</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>

        <main class="coursecard">
            <h2>{{course.title}}</h2>
            
            <div class="coursesflex">
                <img src="{{ course.picture.url }}" height="400" alt="BigImg"/>
                <div class="coursestext">
                    <div class="ct1">
                        <p>{{course.long_description}}</p>
                        <p>Создан: {{course.created_at}}</p>
                        <p>Последнее обновление: {{course.updated_at}}</p>
                        <p>На этом курсе обучается уже <b>{{number_of_users}}</b> человек(а)</p>
                    </div>
                    <div class="ct2">
                        {% if user.usercourses.course.short_name == sh and user.usercourses.course.short_name == 'none' or not user.is_authenticated%}
                            <p>Вы не зачислины на этот курс.</p>
                            <a href='/u'>Зачислиться</a>
                        {% elif user.usercourses.course.short_name == sh and user.usercourses.course.short_name != 'none'%}
                            <p>Вы уже зачислины на этот курс.</p>
                            <a href='/u'>Перейти в личный кабинет</a>
                        {% elif user.usercourses.course.short_name != sh and user.usercourses.course.short_name != 'none' %}
                            <p>Вы не зачислины на этот курс. Но уже обучаетесь на курсе "{{user.usercourses.course.title}}"</p>
                            <a href='/u'>Перейти в личный кабинет</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer">
            <h5>WebBox</h5>
            <p>Проект Егора Горгуна и Федосова Никиты.<br>:sunglassses:</p>
        </footer>
    </div>
</body>
</html>