{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "webbox/css/index.css" %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__logo">
                <p><a href="/">WebBox</a></p>
            </div>
            <div class="header__nav menu">
                    <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
                    <label for="burger-checkbox" class="burger"></label>
                    <ul class="menu-list">
                        <li class=""><a href="/#forcomp" class="menu-item">Компаниям</a></li>
                        <li class=""><a href="/#media" class="menu-item">Медиа</a></li>
                        <li class=""><a href="/#about" class="menu-item">О нас</a></li>
                        <li class=""><a href='/admin' class="menu-item">Админ-панель</a></li>
                        {% if user.is_authenticated %}
                            <li class=""><a href='/u' class="menu-item">Личный кабинет</a></li>
                            <li class=""><a href='/a/u' class="menu-item">Выйти</a></li>
                        {% else %}
                            <li class=""><a href='/a' class="menu-item">Войти</a></li>
                        {% endif %}
                    </ul>
            </div>
        </header>
        <script src="/static/webbox/js/hamburger.js"></script>

        <main class="payment">
            <form method="post" style="margin-top: 1.3em;">
                {{ payment_form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary  btn-lg">Купить</button>
            </form>   
        </main>

        <footer class="footer">
            <h5>WebBox</h5>
            <p>Проект Егора Горгуна и Федосова Никиты.<br>:sunglassses:</p>
        </footer>
  </div>
</body>
</html>